<section>
  <h1>About Me</h1> 
  <div class="about">
     <span class="about-image">
          <img src="/images/StabCalloway.png" alt="Stab Calloway Avatar">
     </span>
     <span class="about-desc">
          <span>I go by the name of Stab Calloway. I’m a hobbyist game developer, bad musician and terrible person of unknown age and origin.
                I’ll be utilizing this particular section of the interwebz to ramble about some of my latest abominations. 
				Most content will be GameDev related, but I’ll probably also post some privacy/security resources and audio production stuff.</span>
          <a href="https://twitter.com/StabCalloway" class="button" data-show-count="false" data-size="large">Follow @StabCalloway</a>
     </span>
</div>
</section>
