<section>
<br>
  <h1>Textures</h1>

  <div class="gallery">
  <a target="_blank" href="#">
    <img src="{{ root_url }}/textures/4096x4096/ComingSoon.png" alt="Coming Soon" width="128" height="128">
  </a>
  <div class="desc">Proto Textures (Coming Soon)</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="{{ root_url }}/textures/4096x4096/ComingSoon.png" alt="Coming Soon" width="128" height="128">
  </a>
  <div class="desc">Concrete Textures (Coming Soon)</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="{{ root_url }}/textures/4096x4096/ComingSoon.png" alt="Coming Soon" width="128" height="128">
  </a>
  <div class="desc">Metal Textures (Coming Soon)</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="{{ root_url }}/textures/4096x4096/ComingSoon.png" alt="Coming Soon" width="128" height="128">
  </a>
  <div class="desc">Decal Textures (Coming Soon)</div>
</div>
</section>
