<div class="main-navigation">
  <div class="dropdown">
    <button class="dropbtn">Blog
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ root_url }}/">stabcalloway.gitlab.io</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Game Dev
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Unity</a>
      <a href="{{ root_url }}/textures">Textures</a>
      <a href="#">3D Models</a>
    </div>
  </div> 
    <div class="dropdown">
    <button class="dropbtn">Music
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Instrumentals</a>
    </div>
  </div> 
    <div class="dropdown">
    <button class="dropbtn">Privacy
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Block Lists</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Archives
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ root_url }}/blog/archives">Time Machine</a>
    </div>
  </div> 
</div>

<!-- <ul class="main-navigation"> -->
  <!-- <li><a href="{{ root_url }}/">Blog</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/categories/game-development/">Game Dev</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/archives">Archives</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/2018/10/18/beware-i-live">About</a></li> -->
<!-- </ul> -->
