<ul class="subscription" data-subscription="rss">
  <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS"><img src="/images/rss.png" alt="RSS Atom Feed" style="width:21px;height:21px;border:0;"></a></li>
</ul>
  {% if site.simple_search %}
<form action="{{ site.simple_search }}" method="post">
  <fieldset role="search">
    <input type="hidden" name="sites" value="stabcalloway.gitlab.io">
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
	<!-- <button type="submit" class="button" value="Search"><img src="/images/search.png"></button> -->
  </fieldset>
</form>
  {% endif %}
{% include custom/navigation.html %}
