// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.about {
     font-style: italic;
     background-color: #FFF;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #CCC;
     box-shadow: 0 0 5px #CCC;
     overflow: hidden;
     clear: both;
     .about-image {
          width: 240px;
		  text-align: center;
          float: left;
          display: inline-block;
          margin-right: 10px;
     }
     .about-desc > hr {
          border: none;
          border-top: 1px dotted #CCC;
          padding-top: 10px;
     }
     #twitter-widget-1 {
          float: right
     }
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}