---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
<!--     <article>
      {% include custom/asides/textures.html %}
    </article> -->
  {% endfor %}
        {% include custom/asides/textures.html %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="#">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="#">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
    <p class="meta">{% include custom/asides/about.html %}</p>
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
